.chat-button {
  display: flex;
  position: fixed;
  bottom: -4px;
  right: 12px;
}

.iframe-container {
  /* Keep the existing styles */
  position: fixed;
  bottom: 10px; /* Adjust the distance from bottom */
  right: 12px;
  transform: translateY(0%);

  &.active {
    bottom: auto; /* Adjust position to top */
    top: 10px;
    transform: translateY(100);
  }
}

.chatbot-header {
  background-color: #007bff; /* Set the desired background color */
  color: white; /* Set the text color for better visibility */
  padding: 10px; /* Add some padding for spacing */
  font-weight: bold; /* Optionally adjust font weight */
  border-top-left-radius: 10px; /* Ensure the header curvature matches iframe */
  border-top-right-radius: 10px;
  position: relative;
}

iframe {
  height: 400px; /* Set the desired height for the iframe */
  width: 100%; /* Ensure the iframe takes full width */
  /* Styling for the iframe */
}

.close-icon,
.close-icon-iframe {
  position: absolute;
  color: white;
  top: 18px; /* Position close icon at top right */
  transform: translateY(-50%);
  right: 12px;
  cursor: pointer;
}
