.chat-button {
  display: flex;
  position: fixed;
  bottom: -4px;
  right: 12px;
}

.iframe-container {
  position: fixed;
  bottom: -4px;
  right: 12px;

  &.active {
    bottom: auto; /* Adjust position to top */
    top: 12px;
  }
}

iframe {
  height: 400px; /* Set the desired height for the iframe */
  width: 100%; /* Ensure the iframe takes full width */
  /* Styling for the iframe */

  border-radius: 10px; /* Adjust the value for desired curvature */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values for shadow effect */
  /* Additional styling properties for the chatbox iframe */
}

.close-icon,
.close-icon-iframe {
  position: absolute;
  top: 18px; /* Position close icon at top right */
  right: 12px;
  cursor: pointer;
}
