.chat-button {
  display: flex;
  position: fixed;
  bottom: -4px;
  right: 12px;
}

.iframe-container {
  position: fixed;
  bottom: -4px;
  right: 12px;

  &.active {
    bottom: auto; /* Adjust position to top */
    top: 12px;
  }
}

.chatbot-header {
  background-color: #007bff; /* Set the desired background color */
  color: white; /* Set the text color for better visibility */
  padding: 10px; /* Add some padding for spacing */
  font-weight: bold; /* Optionally adjust font weight */
  border-top-left-radius: 10px; /* Ensure the header curvature matches iframe */
  border-top-right-radius: 10px;
}


iframe {
  height: 400px; /* Set the desired height for the iframe */
  width: 100%; /* Ensure the iframe takes full width */
  /* Styling for the iframe */

  border-radius: 10px; /* Adjust the value for desired curvature */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values for shadow effect */
  /* Additional styling properties for the chatbox iframe */
}

.close-icon,
.close-icon-iframe {
  position: absolute;
  top: 18px; /* Position close icon at top right */
  right: 12px;
  cursor: pointer;
}
